01_metagenomics/analysis_and_temp_files/03_assembly/its_all.fa_aligned.phyl.ckp.gz
01_metagenomics/analysis_and_temp_files/03_assembly/its_all.fa_aligned.fa
01_metagenomics/analysis_and_temp_files/03_assembly/its_all.fa
01_metagenomics/analysis_and_temp_files/03_assembly/its_all.fa_aligned.phyl.mldist
01_metagenomics/analysis_and_temp_files/03_assembly/its_all.fa_aligned.phyl.splits.nex
01_metagenomics/analysis_and_temp_files/03_assembly/its_all.fa_aligned.phyl
01_metagenomics/analysis_and_temp_files/03_assembly/its_all.fa_aligned.phyl.uniqueseq.phy
01_metagenomics/analysis_and_temp_files/03_assembly/*/final.contigs.fa.depth.txt
01_metagenomics/analysis_and_temp_files/03_assembly/*/*/data_tables/Mdb.csv
01_metagenomics/analysis_and_temp_files/03_assembly/*/*_gc.txt
01_metagenomics/analysis_and_temp_files/03_assembly/*/final.contigs.fa.cov
02_mycobiont_genome/data
02_mycobiont_genome/analysis_and_temp_files/04_xanthoria_mag/quast_Xanthoria_MAG/icarus_viewers
02_mycobiont_genome/analysis_and_temp_files/04_xanthoria_mag/quast_Xanthoria_MAG/*html
02_mycobiont_genome/analysis_and_temp_files/04_xanthoria_mag/GC_sliding.txt
02_mycobiont_genome/analysis_and_temp_files/04_xanthoria_mag/GC_sliding_jgi.tx
02_mycobiont_genome/analysis_and_temp_files/04_xanthoria_mag/GC_sliding_GTX0501.txt
02_mycobiont_genome/analysis_and_temp_files/04_xanthoria_mag/RAxML_bootstrap.its
02_mycobiont_genome/analysis_and_temp_files/02_binning/GTX0501_xanthoria_mitogenome.fa
02_mycobiont_genome/analysis_and_temp_files/02_binning/GTX0501_xanthoria_nuclear_mag.fa
02_mycobiont_genome/analysis_and_temp_files/02_binning/Xanthoria_MAG.fa
02_mycobiont_genome/analysis_and_temp_files/06_annotate_lecanoro/*_pred/
02_mycobiont_genome/analysis_and_temp_files/02_binning/*.paf
02_mycobiont_genome/results/GTX0501_mito_annotation/GTX0501mito_mtDNA_renamed
02_mycobiont_genome/analysis_and_temp_files/06_annotate_lecanoro/GTX0501_xanthoria_nuclear_mag_clean_sort.fa.out.gff
02_mycobiont_genome/analysis_and_temp_files/07_snp/snps-miss1-100kb-noTEs.vcf
02_mycobiont_genome/analysis_and_temp_files/07_snp/longread_to_longread-miss1-100kb-noTEs.vcf
02_mycobiont_genome/analysis_and_temp_files/06_annotate_lecanoro/GTX0501_xanthoria_nuclear_mag_clean_sort.fa
02_mycobiont_genome/analysis_and_temp_files/06_annotate_lecanoro/GTX0501_xanthoria_nuclear_mag_clean_sort.fa.fai
02_mycobiont_genome/analysis_and_temp_files/06_annotate_lecanoro/Xanthoria_parietina_GTX0501.gff3
02_mycobiont_genome/analysis_and_temp_files/06_annotate_lecanoro/Annotation_with_OG.txt
02_mycobiont_genome/analysis_and_temp_files/06_annotate_lecanoro/Orthogroups.txt
02_mycobiont_genome/analysis_and_temp_files/09_ortho/headers_dictionary.tsv
02_mycobiont_genome/analysis_and_temp_files/09_ortho/input_files/
02_mycobiont_genome/analysis_and_temp_files/09_ortho/lichen_enriched_ortho.tsv
02_mycobiont_genome/analysis_and_temp_files/09_ortho/lichen_enriched_ortho_in_xanpa.tsv
02_mycobiont_genome/analysis_and_temp_files/09_ortho/output_files/
02_mycobiont_genome/analysis_and_temp_files/06_annotate_lecanoro/clean_sort.fa.out.gff
03_transcriptomic_analysis/data/
03_transcriptomic_analysis/analysis_and_temp_files/03_qc/fastqc_out/
03_transcriptomic_analysis/analysis_and_temp_files/03_qc/rarefaction/
03_transcriptomic_analysis/analysis_and_temp_files/06_meta_mapping/kallisto_mycobiont_only.txt
03_transcriptomic_analysis/analysis_and_temp_files/06_meta_mapping/kallisto_report.txt
03_transcriptomic_analysis/analysis_and_temp_files/06_meta_mapping/kallisto_report_add_info.txt
03_transcriptomic_analysis/analysis_and_temp_files/06_meta_mapping/kallisto_meta_mapping/
03_transcriptomic_analysis/analysis_and_temp_files/08_dge_culture_lichen/complete_lich_vs_xan.tsv
03_transcriptomic_analysis/analysis_and_temp_files/08_dge_culture_lichen/counts_table.tsv
03_transcriptomic_analysis/analysis_and_temp_files/08_dge_culture_lichen/norm_counts_sleuth.txt
04_secretome/analysis_and_temp_files/01_predicting_effectors/deepredeef_prediction*
04_secretome/analysis_and_temp_files/01_predicting_effectors/deeptmhmm
04_secretome/analysis_and_temp_files/03_fold_secretome/colab_fold_best_model/
04_secretome/analysis_and_temp_files/03_fold_secretome/colab_fold_complete_output/
04_secretome/analysis_and_temp_files/03_fold_secretome/colab_fold_only_putative_effectors/
04_secretome/analysis_and_temp_files/05_cluster_structures/pdb_signal_removed/
04_secretome/analysis_and_temp_files/04_characterize_secretome/compound.idx
04_secretome/analysis_and_temp_files/05_cluster_structures/pdb_SP_removed_clipped_filtered.zip
04_secretome/analysis_and_temp_files/05_cluster_structures/pdb_SP_removed_clipped_filtered/
04_secretome/analysis_and_temp_files/05_cluster_structures/pdb_SP_removed_clipped_filtered_da39a_0.result.zip
04_secretome/analysis_and_temp_files/05_cluster_structures/pdb_SP_removed_clipped_filtered_da39a_0/
04_secretome/analysis_and_temp_files/05_cluster_structures/pdb_SP_removed_filtered.zip
04_secretome/analysis_and_temp_files/05_cluster_structures/pdb_SP_removed_filtered/
04_secretome/analysis_and_temp_files/05_cluster_structures/pdb_SP_removed_filtered_da39a.result.zip
04_secretome/analysis_and_temp_files/05_cluster_structures/pdb_SP_removed_filtered_da39a/
04_secretome/analysis_and_temp_files/05_cluster_structures/pdb_signal_removed.zip
04_secretome/analysis_and_temp_files/05_cluster_structures/pdb_signal_removed_da39a.result.zip
04_secretome/analysis_and_temp_files/05_cluster_structures/pdb_signal_removed_da39a/
04_secretome/analysis_and_temp_files/05_cluster_structures/pdb_signal_removed_filtering_Adam.zip
04_secretome/analysis_and_temp_files/05_cluster_structures/pdb_signal_removed_filtering_Adam/


